<!DOCTYPE HTML>
<html>
<head>
	<title>WooLivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head> -->
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
		<%- include header.ejs %>
		<div id="main" class="alt">
			<section id="one">
				<div class="inner">
					<h1>WooLivery</h1>
					<span class="image main"><img src="images/foog.jpg" alt="" /></span>
					<p>Worcester, I heard your complainants. I listened closely and took heed. I built, built and built so that I could offer you this MVP. You deserve better and I’m here to give you just that.</p>
					<p>WooLivery is a medium for consumers and entrepreneurs to interact, responsibly. I drove for many gig companies and was appalled. I wasn't valued, sorely undercompensated and worst of all treated like something that wasn't human. Consumers will be held to the highest of standards on this platform. Respect for the restaurant owners and drivers is a must. </p>
					<p>If you're a driver, it's because we vetted you and believe you have what it takes to hustle responsibly and deliver a quality product seamlessly. Restaurant owners rest easy knowing our goal isn't to extract value from your business but to add revenue and partner with you with the sincerest of intentions. Worcester, I give you WooLivery.</p>
				</div>
			</section>
		</div>
		<nav class="navGen">
			<ul class="links" class="listElements">
				<!-- <li><a href="/generic">Home</a></li> -->
				<% if(user.local.purpose === "user"){ %>
					<a href="/resturantPartner" class="aToButtonC">Resturants</a>
					<% } %>
					<% if(user.local.purpose === "user"){ %>
						<a href="/orderNow" class="aToButtonG">Order Now</a>
						<% } %>
						<% if(user.local.purpose === "owner"){ %>
							<a href="/resturantSignUp" class="aToButtonG">Sign Up Resturants</a>
							<% } %>
							<% if(user.local.purpose === "owner"){ %>
								<a href="/order" class="aToButtonG">Orders</a>
								<% } %>
								<% if(user.local.purpose === "driver"){ %>
									<a href="/driverOrder" class="aToButtonG">Orders</a>
									<% } %>
									<% if(user.local.purpose === "driver"){ %>
										<a href="/myDriverOrders" class="aToButtonD">My Orders</a>
										<% } %>
									</ul>
								</nav>

							</div>
							<%- include footer.ejs %>
						</body>
						</html>
