<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>WooLivery</h1>

        <p>Login or Signup:</p>

        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> -->
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <!-- <a href="/homepage">Go To DemoDay</a> -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
    </div>

</div>
</body>
</html>
