<!DOCTYPE HTML>
<html>
	<head>
		<title>WooLivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/generic" class="logo"><strong>Woo</strong> <span>Livery</span></a>

					</header>
						<ul class="links">
							<li><a href="/generic">Home</a></li>
						</ul>
					<div id="main" class="alt">
					<% for(var i=0; i<results.length; i++){%>
						<section>
							<h2>Resturant Name</h2>
							<span><%= results[i].resturantName %></span>
						</section>
						<section>
							<h2>Menu Items</h2>
							<span><%= results[i].menu %></span>
						</section>
						<section>
							<h2>Prices</h2>
							<span><%= results[i].prices %></span>
						</section>
					<% } %>
					</div>



			</div>

	</body>
</html>
