<!DOCTYPE HTML>
<html>
	<head>
		<title>WooLivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<a href="/generic" class="home">Home</a>
<section class="containerPage">
	<h1>Create Resturant Form</h1>
			<div id="wrapper">
				<form class="signupRes" action="/resturantPost" method="POST">
					<div class="form-group">
							<label>Resturant Name</label>
							<input type="text" class="form-control" name="resturantName">
					</div>
					<div class="form-group">
							<label>Phone Number</label>
							<input type="number" class="form-control" name="phoneNumber">
					</div>
					<div class="form-group">
							<label>Street</label>
							<input type="text" class="form-control" name="street">
					</div>
					<div class="form-group">
							<label>City</label>
							<input type="text" class="form-control" name="city">
					</div>
					<div class="form-group">
							<label>State</label>
							<input type="text" class="form-control" name="state">
					</div>
					<div class="form-group">
							<label>ZipCode</label>
							<input type="text" class="form-control" name="zipcode">
					</div>
					<div class="form-group">
							<label>EIN</label>
							<input type="text" class="form-control" name="ein">
					</div>
					<div class="form-group">
							<label>payPal Info</label>
							<input type="text" class="form-control" name="payPal">
					</div>
					<hr>
					<div class="form-group" >
							<label class="cloneLabel">Menu Item</label>
							<input type="text" class="form-control" name="menu">
							<label>Prices</label>
							<input type="number" class="form-control" name="prices">
					</div>
					<button type="button" name="button" class="createElement">Another Item</button>
					<div class="form-group">

					</div>
					<button type="submit" name="button">Submit</button>
				</form>

			</div>
	</section>
			<script src="main.js"></script>
	</body>
</html>
