<!DOCTYPE HTML>
<html>
	<head>
		<title>WooLivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
					<header id="header">
						<a href="/generic" class="logo"><strong>Woo</strong> <span>Livery</span></a>
					</header>

					<!-- <a href="/generic" class="home">Home</a> -->
			<section class="containerPage">

					<div id="main" class="alt">
					<% for(var i=0; i<results.length; i++){%>
						<section>
							<h2>Resturant Name:<%= results[i].resturantName %></h2>
						</section>
						<section>
							<h2>Menu Items</h2>
							<ul>
								<% for(var j=0; j<results[i].menu.length; j++){%>
								<li><%= results[i].menu[j].itemName%> $ <%=results[i].menu[j].price%> </li>

								<% } %>
							</ul>
						</section>
					<% } %>
					</div>


			</div>
	</section>
	</body>
</html>
