/* CONATINAER STYLING FOR PAGES */
		.containerPage{
			max-width: 40em;
			margin: 2em auto;
			color: #242A41;
		}

		/* LOGIN STYLING PAGE */


		/* GENERIC PAGE STYLING  */
		/* .navGen{
		border-bottom: 1px solid #242A41;
		} */

		#footer{
			border-top: 1px solid #242A41;
			padding-top: 3rem;
			padding-left: 3rem;
		}
		.inner{
			color: #242A41
		}
		.logo{
			height: 100px;
			width:
		}
		.links{
			list-style: none;
			display: inline-block;
			display: flex;
			justify-content: center;
			font-size: 27px;
			border-bottom: none;
			margin-left: -1em;
			margin-top: 2.5rem;
			margin-bottom: 4.5rem;
		}
		.aToButtonG{
			background-color: transparent;
			border: 2px solid;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			margin-right: 80px;
		}
		.aToButtonD{
			background-color: transparent;
			border: 2px solid;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.aToButtonC{
			background-color: transparent;
			border: 2px solid;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			margin-right: 80px;
		}
		.logOutButt{
			background-color: transparent;
			border: 0;
			border-radius: 100px;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		/* ORDER CSS FOR RESTURANTS */
		.aToButton{
			background-color: white;
			color: #242A41;
			padding: 0.4em;
			font-size: 18px;
			border-radius: 10px;
			margin-left: 1%;
			text-decoration: underline;
			margin-top: .5em;
			/* border: 2px solid #242A41; */
		}

		 /* .acceptOrder{
			background-color: white;
			color: #242A41;
			padding: 0.4em;
			font-size: 28px;
			border-radius: 10px;
			margin-left: 1%;
			text-decoration: none;
			margin-top: .5em;
			margin-top: -10px;
		}
		.declineOrder{
			background-color: white;
			color: #242A41;
			padding: 0.4em;

			font-size: 28px;
			border-radius: 10px;
			margin-left: 1%;
			text-decoration: none;
			margin-top: .5em;
			margin-top: -10px;
		} */

		.hide{
			display: none;
		}
		/* .container{
		display: flex;
		justify-content: center;
		} */
		.containerPageDriverOrder{
			max-width: 40em;
			margin: 2em auto;
			color: #242A41;
		}
		.holdsOrdersDiv{
			margin-bottom: 2em;
			margin-left: 4em;
			margin-top: 6em;
			color: #242A41;
			border-bottom: 1px solid #242A41;
		}
		.holdsOrdersDiv:last-child{
			border: none;
		}
		.boldDriver{
			font-weight: bold;
		}
		.boldDriverPrice{
			font-weight: bold;
			font-size: 24px;
		}
		.holdsButton{
			padding-bottom: 2rem;
		}
		.footerContainer{
			margin-top: 30em;
			margin-left: 30em;
		}
		.resName{
			margin-left: 3em;
			font-style: italic;
		}
		.keepYellow{
			background-color: yellow;
		}
		.keepGreen{
			background-color: green;
		}
		.keepRed{
			background-color: red;
		} */
		/* RANDOM STYLING NEED TO PLLACE IN CORRECT SPOT */
		.createElement{
			margin: 2em 0;
		}
		.containerPageOrderStatus{
			color: #242A41;
			padding-left:  4rem;
			padding-top: 2rem;
			margin-bottom: 3rem;
			padding-right: 4rem;
		}

		.checkOrderStatus{
			margin-left: 2em;
			font-size: 2em;
			background-color: transparent;
			border: 1px solid #242A41;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.flexOrderStatus{
			display: flex;
			flex-direction: row-reverse;
			padding-bottom: 2rem;
			align-items: center;
		}
	  .menuItemsContainer:last-child{
			border: none;
		}

		.menuItemsContainer{
			border-bottom: 1px solid #242A41;
			display: flex;
			justify-content: space-between;
			padding: 1.5rem 0;
			margin-bottom: 3.5rem;
		}
		.menuItemsConfirmation{
			width: 40%;
			margin-left: 10px;
		}
		.liPix{

		}
		.listElements{
			display: none;
		}
		.home{
			float: right;
			margin-right: 5em;
			text-decoration: none;
			border-bottom: none;
		}

		/* Order Now CSS  */
		/* THIS IS THE DISPLAY NONE BUTTON */
		.hide{
			display: none;
		}
		.containerPageOrderNow{
			display: flex;
			width: 100%;
		}
		.split{
			padding: 4rem;
		}
		.cart{
			list-style: none;
		}
		.checkoutContainer{
			position: fixed;
			right: 3.5%;
			top:11%;
			width: 30em;
			margin: 2em auto;
			color: #242A41;
			padding: 2rem;
			padding-bottom: 3rem;
			max-height: 400px;
			overflow: scroll;
		}

		.showBorder{
			border: 2px solid #242A41 ;
			border-radius: 5px;
		}
		.displayNone{
			display: none;
		}
		.floatButt{
			float: left;
			margin-left: 9px;
		}
		.cart{
			font-size: 28px;
		}
		.displayPrice{
			font-size: 30px;
			margin-left: 1.5em;
		}
		.hideSpan{
			display: none;
		}
		.styleMenuItem{
			font-weight: bold;
			font-style: italic;
			color:  #242A41;
		}
		.styleMenuItem:hover{
			cursor: pointer;
			color: #3E7A9E;
		}
		ul{
			list-style-type: none;
		}
		.moveButton{
			margin: 0 10%;
		}
		/* ORDER Confirmation */
		.orderConfirmation{
			border-bottom: 1px solid #242A41;
			width: 100%;
		}
		/* RESTURANT PARTNER */

		#orderNowButton{
			background-color: transparent;
			border: 0;
			border-radius: 100px;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			margin: 0;
		}

		/* DRIVER ACCEPT ORDER CSS  */

		#driverId{
			position: relative;
			left: -9999px;
		}
		.holdsOrder{
			margin: 0 auto;
			margin-left: 50px;
		}
		.containerPageDO{
			max-width: 18em;
			margin: 0 auto;
			color: red;
		}
		.holdsOrderDiv{
			border-bottom: 1px solid #242A41;
		}

		/* DRIVER PICKED UP FOOD CSS */

		#driverIdOrder{
			position: relative;
			left: -9999px;
		}
		.aToButtonDriver{
			background-color: white;
			color: #242A41;
			padding: 0.4em;
			font-size: 22px;
			border-radius: 10px;
			margin-left: 1%;
			/* text-decoration: underline; */
			/* margin-top: .5em; */
			margin-top: -10px;
			border: 1px solid #242A41;
		}
		.pickedUp{
			margin-right: 1rem;
		}
		.changePostition{
			position: relative;
			left: -9999px;
		}
		.addMargin{
			margin-top: 2rem;
		}

		/* CSS FOR ORDER STATUS */

		.input{
			max-width: 30em;
			float: left;
			color: white;
		}
		.tipButton{
			float: left;
			border-radius: 5px;
			font-size: 15px;
			margin-left: 20px;
		}
		.holdsOrder{
			margin-bottom: 2em;

		}

		.containerPageStatus{
			font-size: 30px;
			max-width: 24em;
			margin-left: 15em;
			margin-top: 10em;
			color: #242A41;
			/* display: flex;
			justify-content: center; */
		}
		.formStatus{
			height: 100px;
		}

		/* CSS HOME PAGE */
		.aToButtonIndex{
			background-color: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #242A41;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.centerHome{
			height: 100%;
			background-color: white;
			color: #242943;
			padding: 4rem;
		}
		.homeForm{
			margin: 0 auto;
			max-width: 30%;
		}

		.homeButt{
			margin: 10px 40px;
			background-color: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #242A41;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.homeH1{
			text-align: center;
			margin: 2rem;
			line-height: 4rem;
			margin-bottom: 5rem;
		}

		.homePage{
			background-color: #242A41;
			margin-bottom: 2rem;

			border: 2px solid;
		}
		input::placeholder{
			color: #242A41;
		}
		.pushSignupDown{
			margin-top: 100px;
		}
		.aToButtonHome{
			background-color: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #242A41;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.5em;
			letter-spacing: 0.25em;
			line-height: 3.5em;
			padding: 0 1.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.form-group{
			margin-bottom: 2rem;

		}
		.form-control{
			height: 51px;
		}
		.signupH1{
			text-align: center;
			margin-bottom: 2rem;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}
		.white{
			color: white;
		}
